.section-title {
    width: 60%;
    margin:100px auto 20px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
  }
  
  .section-title_theme_dark {
    color: #f2f2f2;
    margin:90px auto 20px;
    z-index: 2;
  }